form.unal-form *{outline:none!important}
form.unal-form .unsmd-item,form.unal-form .btn-group,form.unal-form .bootstrap-select{-khtml-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
form.unal-form .btn-group,form.unal-form .bootstrap-select,form.unal-form .unsmd-item{-khtml-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-ms-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-o-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);box-shadow:0 0 5px 0 rgba(0,0,0,0.25)}
form.unal-form .btn-group,form.unal-form .bootstrap-select,form.unal-form div > ul a,form.unal-form ul a > span{-khtml-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
form.unal-form .unsmd-item{background-color:#e8e8e8;border:1px solid #f8f8f8;clear:both;margin:1.25em 0;padding:.75em}
form.unal-form .unsmd-item > h3{border:0;font-size:1.5em!important;font-weight:normal!important;letter-spacing:.025em;margin:0;padding:0}
form.unal-form .btn-group,form.unal-form .bootstrap-select{-moz-appearance:none;-moz-box-sizing:border-box;-ms-appearance:none;-o-appearance:none;-webkit-appearance:none;-webkit-box-sizing:border-box;appearance:none;background-color:#4f4f4f!important;border:1px solid #222!important;box-sizing:border-box;margin:.5em 0!important;outline:0!important;padding:.125em!important;width:100%!important}
form.unal-form div.dropdown-menu.open,form.unal-form div > ul,form.unal-form div > ul a,form.unal-form ul a > span,form.unal-form .btn-group:hover,form.unal-form .bootstrap-select:hover{background:#efefef!important;border-color:#fff!important}
form.unal-form .btn-default{background:transparent!important;border-color:transparent!important}
form.unal-form .btn-group > button,form.unal-form .bootstrap-select > button{color:#fff!important;font-size:1.125em!important}
form.unal-form .btn-default:hover,form.unal-form .btn-default:hover > button{color:#000!important}
form.unal-form .dropdown-menu li{border:0!important;font-size:1em!important;line-height:1em!important;margin:0!important;padding:0!important}
form.unal-form div .dropdown-menu.open form.unal-form div > ul a,form.unal-form ul a > span{color:#94b43b!important}
form.unal-form div > ul a:hover,form.unal-form div > ul a:hover > span{background-color:#fff!important;color:#000!important}
form.unal-form .btn-group.open .dropdown-toggle,form.unal-form div.dropup:hover > button,form.unal-form div.dropup > button:hover{-moz-appearance:none;-ms-appearance:none;-o-appearance:none;-webkit-appearance:none;appearance:none;background:transparent;box-shadow:none;outline:none}
form.unal-form .btn-group.open:hover .dropdown-toggle,form.unal-form div.dropup:hover > button{color:#000!important}
form.unal-form .socialItems .socialItem{margin:0 .25em!important}
form.unal-form label{color:#303030;font-family:"Ancizar serif", "MS Serif", "New York", serif;font-size:1.5em;font-weight:normal;letter-spacing:.01em;margin-left:0;padding:1em 0 0;line-height:1.0em}
form.unal-form select,form.unal-form textarea,form.unal-form input[type=text],form.unal-form input[type=password],form.unal-form input[type=submit]{-khtml-border-radius:5px;-khtml-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-moz-appearance:none;-moz-border-radius:5px;-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-moz-box-sizing:border-box;-moz-transition:all .25s ease-in-out;-ms-appearance:none;-ms-border-radius:5px;-ms-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-ms-transition:all .25s ease-in-out;-o-appearance:none;-o-border-radius:5px;-o-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-o-transition:all .25s ease-in-out;-webkit-appearance:none;-webkit-border-radius:5px;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.25);-webkit-box-sizing:border-box;-webkit-transition:all .25s ease-in-out;appearance:none;background:#e8e8e8;border:1px solid #fff;border-radius:5px;box-shadow:0 0 5px 0 rgba(0,0,0,0.25);box-sizing:border-box;font-size:1.125em;margin:.5em .5em 0 0;outline:none;padding:.5em;transition:all .25s ease-in-out;width:100%}
form.unal-form input[type=submit]{background:#94b43b;border-color:#84bf05;color:white;font-family:"Ancizar serif", "MS Serif", "New York", serif;font-size:1.5em;letter-spacing:.01em;width:100%}
form.unal-form select:hover,form.unal-form textarea:hover,form.unal-form input:hover,form.unal-form select:focus,form.unal-form textarea:focus,form.unal-form input:focus{background:#f0f0f0;border-color:#8f8f8f}
form.unal-form input[type=submit]:hover{color:#666}
